<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

<button type="button" class="btn btn-primary" rippleEffect [routerLink]="['/pages/zona/detallepais']">Registrar país</button>

</div>
</div>

<div class="row" id="table-without-card">
  <div class="col-12 my-2">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Iso3</th>
            <th>Cóodigo</th>
            <th>Divisa</th>
            <th>Nombre divisa</th>
            <th>Simbolo divisa</th>
            <th>Estado</th>
            <th>Creado por</th>
            <th>Fecha de creación</th>
            <th>Modificado por</th>
            <th>Fecha de modificación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pais of rows">
            <td>{{pais.name}}</td>
            <td>{{pais.iso3}}</td>
            <td>+{{pais.phoneCode}}</td>
            <td>{{pais.currency}}</td>
            <td>{{pais.currencyName}}</td>
            <td>{{pais.currencySymbol}}</td>
            <td><span class="badge badge-pill mr-1" [ngClass]="{'badge-light-success': pais.status == true, 'badge-light-danger': pais.status == false}">{{pais.status ?'Activo' :'Inactivo'}}</span></td>
            <td>{{pais.createBy}}</td>
            <td>{{pais.creationDate |date:'M/d/yy, h:mm a'}}</td>
            <td>{{pais.updateBy}}</td>
            <td>{{pais.updateDate |date:'M/d/yy, h:mm a'}}</td>
            <td class="overflow-hidden">
              <div ngbDropdown container="body">
                <button type="button" class="btn btn-sm hide-arrow" ngbDropdownToggle data-toggle="dropdown">
                  <i data-feather="more-vertical"></i>
                </button>
                <div ngbDropdownMenu>
                  <a ngbDropdownItem href="javascript:void(0);">
                    <i data-feather="edit-2"class="mr-50"></i><span>Edit</span>
                  </a>
                  <a ngbDropdownItem href="javascript:void(0);">
                    <i data-feather="trash" class="mr-50"></i><span>Delete</span>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
