<main>
  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

  <header>
    <div>
      <button mat-raised-button color="primary" (click)="on('new')">
        <mat-icon>add</mat-icon>
        Agregar Canje
      </button>
      &nbsp;
      <!-- <button mat-raised-button color="primary" (click)="generateReport()">
        <mat-icon>task</mat-icon>
        Generar reporte
      </button> -->
    </div>

    <mat-form-field appearance="standard">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Buscar</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Buscar"
        #input
        autocomplete="off"
      />
    </mat-form-field>
  </header>
  <div class="filter">
    <mat-form-field
      appearance="standard"
      *ngIf="this.sessionService.getUserData().pharmacyId == '0'"
    >
      <mat-label>Farmacia</mat-label>
      <mat-select (selectionChange)="filterByFharmacy($event.value)">
        <mat-option *ngFor="let pharmacy of pharmacies" [value]="pharmacy.id"
          >{{pharmacy.name}}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Ingrese el rango a consultar</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')"
        >Fecha de inicio invalida</mat-error
      >
      <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')"
        >Fecha Final Invalida</mat-error
      >
    </mat-form-field>
  </div>

  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="id" style="display: none">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="ExchangeDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha</th>
        <td mat-cell *matCellDef="let row">
          {{row.exchangeDate |date:'M/d/yy'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="State">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
        <td mat-cell *matCellDef="let row">{{row.state}}</td>
      </ng-container>

      <ng-container matColumnDef="UserApproval">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Aprobado por</th>
        <td mat-cell *matCellDef="let row">{{row.userApproval}}</td>
      </ng-container>

      <ng-container matColumnDef="UserExchange">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Canjeado por</th>
        <td mat-cell *matCellDef="let row">{{row.userExchange}}</td>
      </ng-container>

      <ng-container matColumnDef="PharmacyName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Farmacia del Canje
        </th>
        <td mat-cell *matCellDef="let row">{{row.pharmacyName}}</td>
      </ng-container>
      <ng-container matColumnDef="QuantityGiven">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Cantidad Canjeada
        </th>
        <td mat-cell *matCellDef="let row">{{row.quantityGiven}}</td>
      </ng-container>

      <ng-container
        matColumnDef="acctions"
        *ngIf="sessionService.getUserData().Role == 'Admin'"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-stroked-button
            (click)="give(row.id)"
            *ngIf="row.state == 'No Entregado'"
          >
            Entregar
            <mat-icon color="accent">arrow_forward</mat-icon>
          </button>

          <button
            mat-stroked-button
            (click)="revers(row.id)"
            *ngIf="row.state == 'No Entregado' "
          >
            Anular
            <mat-icon color="warn">published_with_changes</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No hay datos que coincidan con el filtro: "{{input.value}}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
</main>
