<main>
  <div class="contentForm mat-elevation-z8">
    <div class="formHeader">
      <div class="imgCont">
        <img src="assets/luveck_logo.png">
      </div>
      <p>Resetear Contraseña 🔒</p>
      <span>Su nueva contraseña debe ser diferente de las contraseñas utilizadas anteriormente.</span>
    </div>
    <div class="formContent">
      <form [formGroup]="resetPassForm" class="d-flex-center">
        <mat-form-field appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input matInput [type]="hidePassword ?'password' :'text'" formControlName="Newpassword" placeholder="Contraseña" [NgPasswordValidator]="options">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ?'visibility_off' :'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="!resetPassForm.get('Newpassword')?.errors?.['required'] && (resetPassForm.get('Newpassword')?.errors?.['pattern'])">
            Contraseña insegura
          </mat-error>
          <mat-error
            *ngIf="resetPassForm.get('Newpassword')?.invalid && (resetPassForm.get('Newpassword')?.dirty || resetPassForm.get('Newpassword')?.touched) && resetPassForm.get('Newpassword')?.errors?.['required']">
            Contraseña requerida
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirmar contraseña</mat-label>
          <input matInput [type]="hidePassword ?'password' :'text'" formControlName="confirmPass" placeholder="Confirmar">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
            <mat-icon>{{hidePassword ?'visibility_off' :'visibility'}}</mat-icon>
          </button>
          <mat-error
            *ngIf="resetPassForm.get('confirmPass')?.invalid && (resetPassForm.get('confirmPass')?.dirty || resetPassForm.get('confirmPass')?.touched) && resetPassForm.get('confirmPass')?.errors?.['required']">
            Contraseña requerida
          </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="resetPassForm.invalid"
          (click)="resetPass(resetPassForm.value)">Establecer nueva contraseña
        </button>
      </form>
    </div>
  </div>
</main>
