<main class="login-section">
  <div class="container-form">
    <div class="titles">
      <img src="assets/icons/luveck_logo.png">
      <p>Resetear Contraseña 🔒</p>
      <span>Su nueva contraseña debe ser diferente de las contraseñas utilizadas anteriormente.</span>
    </div>

    <form [formGroup]="resetPassForm" class="d-flex-center">
      <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput [type]="hidePassword ?'password' :'text'" formControlName="newPassword" placeholder="Contraseña" [NgPasswordValidator]="options">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ?'visibility_off' :'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!resetPassForm.get('newPassword')?.errors?.['required'] && (resetPassForm.get('newPassword')?.errors?.['pattern'])">
          Contraseña insegura
        </mat-error>
        <mat-error
          *ngIf="resetPassForm.get('newPassword')?.invalid && (resetPassForm.get('newPassword')?.dirty || resetPassForm.get('newPassword')?.touched) && resetPassForm.get('newPassword')?.errors?.['required']">
          Contraseña requerida
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [type]="hidePassword ?'password' :'text'" formControlName="confirmPassword" placeholder="Confirmar">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ?'visibility_off' :'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="resetPassForm.get('confirmPassword')?.invalid && (resetPassForm.get('confirmPassword')?.dirty || resetPassForm.get('confirmPassword')?.touched) && resetPassForm.get('confirmPassword')?.errors?.['required']">
          Nueva Contraseña requerida
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="!resetPassForm.valid"
        (click)="resetPass()">Establecer nueva contraseña
        <mat-icon class="lod" *ngIf="dataServ.progress">cached</mat-icon>
      </button>
    </form>
  </div>
</main>
