<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="fm_header" *ngIf="data.farmaId">
    <section class="avatar">
      <div class="datos">
        <p>{{currentFarmacia?.name!}}</p>
        <div class="bots">
          <span class="chip" [ngClass]="{'inactive': currentFarmacia?.isDeleted == true, 'active': currentFarmacia?.isDeleted == false}">{{currentFarmacia?.isDeleted ?'Inctiva' :'Activa'}}</span>
        </div>
      </div>
    </section>
    <section class="resumen">
      <ul>
        <li> <mat-icon class="example-tab-icon">note_add</mat-icon> Creado por: {{currentFarmacia?.createBy!}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de craación: {{currentFarmacia?.creationDate! |date: 'd/M/yy, h:mm a'}}</li>
        <li> <mat-icon class="example-tab-icon">edit_note</mat-icon> Modificado por: {{currentFarmacia?.updateBy!}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de modificación: {{currentFarmacia?.updateDate! |date: 'd/M/yy, h:mm a'}}</li>
      </ul>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="farmaForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Presentación" formControlName="adress">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ciudad</mat-label>
        <mat-select formControlName="cityName">
          <div *ngFor="let ciudad of ciudades; index as i">
            <mat-option [value]="i">
              {{ciudad.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="farmaForm.invalid" (click)="save()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
