<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="fm_header" *ngIf="data.farmaId">
    <section class="avatar">
      <div class="datos">
        <p>{{currentFarmacia?.name}}</p>
        <div class="bots">
          <span class="chip" [ngClass]="{'inactive': currentFarmacia?.isActive== false, 'active': currentFarmacia?.isActive == true}">Estado: {{currentFarmacia?.isActive ?'Activo' :'Inctivo'}}</span>
        </div>
      </div>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="farmaForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Presentación" formControlName="adress">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cadena</mat-label>
        <mat-select formControlName="cadenaId">
          <div *ngFor="let cadena of cadenas">
            <mat-option *ngIf="cadena.isActive" [value]="cadena.id">
              {{cadena.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Pais</mat-label>
        <mat-select formControlName="countryId" (selectionChange)="onCountryChange($event.value)">
          <div *ngFor="let paise of paises">
            <mat-option *ngIf="paise.isActive" [value]="paise.id">
              {{paise.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" *ngIf="filteredDepartments.length > 0">
        <mat-label>Departamento</mat-label>
        <mat-select formControlName="departmentId" (selectionChange)="onDepartmentChange($event.value)">
          <div *ngFor="let departamento of filteredDepartments">
            <mat-option *ngIf="departamento.isActive" [value]="departamento.id">
              {{departamento.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill"  *ngIf="filteredDepartments.length > 0 && filteredCities.length > 0">
        <mat-label>Ciudad</mat-label>
        <mat-select formControlName="cityId">
          <div *ngFor="let ciudad of filteredCities">
            <mat-option *ngIf="ciudad.isActive" [value]="ciudad.id">
              {{ciudad.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="farmaForm.invalid" (click)="save()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
