<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="perfil_header" *ngIf="data.userDni">
    <section class="avatar">
      <div class="datos">
        <p>{{currentUser?.userEntity.name}} {{currentUser?.userEntity.lastName}}</p>
        <div class="bots">
          <span class="chip" (click)="changeUserState(currentUser?.userEntity.state)" style="cursor: pointer;" matTooltip="Cambiar estado" [ngClass]="{'active': currentUser?.userEntity.state == true, 'inactive': currentUser?.userEntity.state == false}">Estado de cuenta: {{currentUser?.userEntity.state ?'activa' :'inactiva'}}</span>
        </div>
      </div>
    </section>
    <section class="resumen">
      <ul>
        <li> <mat-icon class="example-tab-icon">fingerprint</mat-icon> DNI: {{currentUser?.userEntity.userName}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de nacimiento: {{currentUser?.userEntity.bornDate |date: 'dd/MM/yyyy'}}</li>
        <li> <mat-icon class="example-tab-icon">badge</mat-icon> Rol: {{currentUser?.role}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de registro: {{currentUser?.userEntity.createDate |date: 'dd/MM/yyyy'}}</li>
      </ul>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="newUserForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput placeholder="DNI" maxlength="13" formControlName="dni" [readonly]="data.userEmail">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Apellido" formControlName="lastName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role">
          <div *ngFor="let rol of usersServ.localRoles">
            <mat-option [value]="rol.name">
              {{rol.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="bornDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Género</mat-label>
        <mat-select formControlName="sex">
          <mat-option value="hombre">Hombre</mat-option>
          <mat-option value="mujer">Mujer</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" formControlName="phone">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección" formControlName="address">
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="newUserForm.invalid" (click)="save()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
