<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="perfil_header" *ngIf="data.userDni">
    <section class="avatar">
      <div class="datos">
        <p>{{currentUser?.userEntity.name}} {{currentUser?.userEntity.lastName}}</p>
        <div class="bots">
          <span class="chip" (click)="changeUserState(currentUser?.userEntity.state)" style="cursor: pointer;" matTooltip="Cambiar estado" [ngClass]="{'active': currentUser?.userEntity.state == true, 'inactive': currentUser?.userEntity.state == false}">Estado de cuenta: {{currentUser?.userEntity.state ?'activa' :'inactiva'}}</span>
        </div>
      </div>
    </section>
    <section class="resumen">
      <ul>
        <li> <mat-icon class="example-tab-icon">fingerprint</mat-icon> DNI: {{currentUser?.userEntity.userName}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de nacimiento: {{currentUser?.userEntity.bornDate |date: 'dd/MM/yyyy'}}</li>
        <li> <mat-icon class="example-tab-icon">badge</mat-icon> Rol: {{currentUser?.role}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de registro: {{currentUser?.userEntity.createDate |date: 'dd/MM/yyyy'}}</li>
      </ul>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="newUserForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>DNI</mat-label>
        <input matInput placeholder="DNI" maxlength="13" formControlName="dni">
        <mat-error
          *ngIf="newUserForm.get('dni')?.invalid && (newUserForm.get('dni')?.dirty || newUserForm.get('dni')?.touched) && newUserForm.get('dni')?.errors?.['required']">
          DNI requerido
        </mat-error>
        <mat-error *ngIf="!newUserForm.get('dni')?.errors?.['required'] && (newUserForm.get('dni')?.errors?.['pattern'])">
          DNI invalido
        </mat-error>
        <mat-error *ngIf="newUserForm.get('dni')?.errors?.['minlength']">
          DNI debe tener minimo 13 digitos.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name">
        <mat-error
          *ngIf="newUserForm.get('name')?.invalid && (newUserForm.get('name')?.dirty || newUserForm.get('name')?.touched) && newUserForm.get('name')?.errors?.['required']">
          Nombre requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput placeholder="Apellido" formControlName="lastName">
        <mat-error
          *ngIf="newUserForm.get('lastName')?.invalid && (newUserForm.get('lastName')?.dirty || newUserForm.get('lastName')?.touched) && newUserForm.get('lastName')?.errors?.['required']">
          Apellido requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="!newUserForm.get('email')?.errors?.['required'] && (newUserForm.get('email')?.errors?.['pattern'])">
          Correo invalido
        </mat-error>
        <mat-error
          *ngIf="newUserForm.get('email')?.invalid && (newUserForm.get('email')?.dirty || newUserForm.get('email')?.touched) && newUserForm.get('email')?.errors?.['required']">
          Correo requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role">
          <div *ngFor="let rol of usersServ.localRoles">
            <mat-option [value]="rol.name">
              {{rol.name}}
            </mat-option>
          </div>
        </mat-select>
        <mat-error
          *ngIf="newUserForm.get('role')?.invalid && (newUserForm.get('role')?.dirty || newUserForm.get('role')?.touched) && newUserForm.get('role')?.errors?.['required']">
          Nombre requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="bornDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="newUserForm.get('bornDate')?.invalid && (newUserForm.get('bornDate')?.dirty || newUserForm.get('bornDate')?.touched) && newUserForm.get('bornDate')?.errors?.['required']">
          Fecha de nacimiento requerida
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Género</mat-label>
        <mat-select formControlName="sex">
          <mat-option value="hombre">Hombre</mat-option>
          <mat-option value="mujer">Mujer</mat-option>
          <mat-option value="otro">Otro</mat-option>
        </mat-select>
        <mat-error
          *ngIf="newUserForm.get('sex')?.invalid && (newUserForm.get('sex')?.dirty || newUserForm.get('sex')?.touched) && newUserForm.get('sex')?.errors?.['required']">
          Género requerido
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Teléfono" formControlName="phone">
        <mat-error *ngIf="!newUserForm.get('phone')?.errors?.['required'] && (newUserForm.get('phone')?.errors?.['pattern'])">
          Teléfono invalido
        </mat-error>
        <mat-error
          *ngIf="newUserForm.get('phone')?.invalid && (newUserForm.get('phone')?.dirty || newUserForm.get('phone')?.touched) && newUserForm.get('phone')?.errors?.['required']">
          Teléfono requerido
        </mat-error>
        <mat-error *ngIf="newUserForm.get('phone')?.errors?.['minlength']">
          Teléfono debe tener minimo 8 digitos.
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Dirección" formControlName="address">
        <mat-error
          *ngIf="newUserForm.get('address')?.invalid && (newUserForm.get('address')?.dirty || newUserForm.get('address')?.touched) && newUserForm.get('address')?.errors?.['required']">
          Dirección requerida
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="newUserForm.invalid" (click)="save()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
