<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="fm_header" *ngIf="data.ruleId">
    <section class="avatar">
      <div class="datos">
        <p>{{currentRegla?.productName}}</p>
        <div class="bots">
          <span class="chip" [ngClass]="{'inactive': currentRegla?.state == false, 'active': currentRegla?.state == true}">Estado: {{currentRegla?.state ?'Activo' :'Inactivo'}}</span>
        </div>
      </div>
    </section>
    <section class="resumen">
      <ul>
        <li> <mat-icon class="example-tab-icon">note_add</mat-icon> Creado por: {{currentRegla?.createBy}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de creación: {{currentRegla?.creationDate |date: 'd/M/yy'}}</li>
        <li> <mat-icon class="example-tab-icon">edit_note</mat-icon> Modificado por: {{currentRegla?.updateBy}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de modificación: {{currentRegla?.updateDate |date: 'd/M/yy'}}</li>
      </ul>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="ruleForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Limite de dias</mat-label>
        <input matInput type="number" matTooltip="Limite de días que el cliente tiene para reclamar el canje." placeholder="Limite de días" formControlName="daysAround">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Reclamar cada</mat-label>
        <input matInput type="number" matTooltip="Cada cuantos días se debe comprar el producto." placeholder="Reclamar cada" formControlName="periodicity">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cantidad a comprar</mat-label>
        <input matInput type="number" matTooltip="Cantidad de productos que se deben comprar para aplicar al canje." placeholder="Cantidad a comprar" formControlName="quantityBuy">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cantidad a entregar</mat-label>
        <input matInput type="number" matTooltip="Cantidad de producto que se entrega al momento del reclamo." placeholder="Cantidad a entregar" formControlName="quantityGive">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Máximo anual</mat-label>
        <input matInput type="number" matTooltip="Limite de canjes por año." placeholder="Máximo anual" formControlName="maxChangeYear">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Producto</mat-label>
        <mat-select formControlName="productId" matTooltip="Producto asociado a la regla.">
          <div *ngFor="let prod of prods">
            <mat-option *ngIf="prod.state" [value]="prod.id">
              {{prod.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="ruleForm.invalid" (click)="save()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
