<main mat-dialog-content>
  <img [src]="prodData.urlImages[0].url">
  <div class="infoProd">
    <h1>{{prodData.nameProduct}}</h1>
    <ul>
      <li>
        <span>Presentación: </span>
        {{prodData.presentation}}
      </li>
      <li>
        <span>Regla de Canje: </span>
        {{prodData.quantityBuy}} / {{prodData.quantityBuy}}
      </li>
      <li>
        <span>Canje máximo anual: </span>
        {{prodData.maxYear}}
      </li>
      <li>
        <span>Descripción: </span>
        {{prodData.description}}
      </li>
<!--       <li>
        <a [href]="prodData.urlDatos" target="_blank">Leer más</a>
      </li> -->
    </ul>
  </div>
</main>
