<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="fm_header" *ngIf="data.medicoId">
    <section class="avatar">
      <div class="datos">
        <p>{{currentMedic?.name}}</p>
        <div class="bots">
          <span class="chip" [ngClass]="{'inactive': currentMedic?.isActive == false, 'active': currentMedic?.isActive == false}">Estado: {{currentMedic?.isActive ?'Activo':'Inctivo'}}</span>
        </div>
      </div>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="medicForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name" maxlength="30">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>N. de registro</mat-label>
        <input matInput placeholder="N. de registro" formControlName="register" maxlength="30">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Especialidad</mat-label>
        <mat-select formControlName="patologyId">
          <div *ngFor="let especial of especialidades">
            <mat-option *ngIf="especial.isActive" [value]="especial.id">
              {{especial.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="medicForm.invalid" (click)="save()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
