.canjes{
  width: 90%;
  margin: 2rem auto;
  h1 {
    margin: 1rem 0;
    width: 100%;
    font-size: 2rem;
    text-align: center;
  }
  p{
    text-align: center;
  }
  .contentRegistroCanje{
    padding: 2rem 1rem;
    text-align: center;
    .wrapForm{
      width: 80%;
      margin: 0 auto;
      padding: 10px 0;
      .inputs{
        display: grid;
        grid-template-columns: 1fr 1fr;
        &.ver2{
          grid-template-columns: auto 1fr 1fr;
          button{
            margin: 1rem 0;
          }
        }
        mat-form-field{
          width: 90%;
          margin: auto;
          align-content: center;
        }
      }
    }
  }
}

.btns{
  padding-top: 2rem;
  text-align: center;
  button{
    margin: 0 0.5rem;
  }
}

@media (max-width: 560px){
  .canjes{
    height: 100%;
  }
}
