<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="fm_header" *ngIf="data.productoId">
    <section class="avatar">
      <img src="assets/default-thumbnail.jpg">
      <div class="datos">
        <p>{{currentProd?.name}}</p>
        <div class="bots">
          <span class="chip" [ngClass]="{'active': currentProd?.state == true, 'inactive': currentProd?.state == false}">Estado: {{currentProd?.state ?'Activo' :'Inactivo'}}</span>
        </div>
      </div>
    </section>
    <section class="resumen">
      <ul>
        <li> <mat-icon class="example-tab-icon">note_add</mat-icon> Creado por: {{currentProd?.createBy}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de craación: {{currentProd?.creationDate |date: 'd/M/yy, h:mm a'}}</li>
        <li> <mat-icon class="example-tab-icon">edit_note</mat-icon> Modificado por: {{currentProd?.updateBy}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de modificación: {{currentProd?.updateDate |date: 'd/M/yy, h:mm a'}}</li>
      </ul>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="prodForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name" matTooltip="Nombre del producto">
      </mat-form-field>
      <mat-form-field appearance="fill" class="barCode">
        <mat-label>Código de barras</mat-label>
        <input matInput placeholder="Código de barras" formControlName="barcode" matTooltip="Código de barras">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Presentación</mat-label>
        <input matInput placeholder="Presentación" formControlName="presentation" matTooltip="Tipo de Presentación, Ej: Caja">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput formControlName="quantity" matTooltip="Cantidad ">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tipo de venta</mat-label>
        <input matInput placeholder="Tipo venta" formControlName="typeSell" matTooltip="Tipo de venta, Ej: Unidad">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Costo</mat-label>
        <input matInput type="number" formControlName="cost" matTooltip="Consto del producto">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Categoría</mat-label>
        <mat-select formControlName="idCategory" matTooltip="Categoría a la que pertenece">
          <div *ngFor="let cat of cats">
            <mat-option *ngIf="!cat.isDeleted" [value]="cat.id">
              {{cat.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="area">
        <mat-label>Descripción del producto</mat-label>
        <textarea matInput placeholder="Descripción del producto" formControlName="description" rows="2" matTooltip="Descripción general del producto"></textarea>
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="prodForm.invalid" (click)="save()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
