<main [ngClass]="{'light': localTheme, 'dark': !localTheme}">
  <header>
    <div class="btnsHeader logo">
      <button class="btnMenu" mat-icon-button (click)="showMenu = !showMenu">
        <mat-icon>menu</mat-icon>
      </button>
      <img class="nav_logo" (click)="selectSection('inicio')" [src]="localTheme ?'assets/icons/logo_light.png' :'assets/icons/logo_dark.png'">
    </div>
    <div class="btnsHeader">
      <button style="color: #ffc409;" mat-icon-button matTooltip="Cambiar tema" (click)="setTheme()">
        <mat-icon>{{localTheme ?'light_mode' :'brightness_3'}}</mat-icon>
      </button>

      <button mat-icon-button [matMenuTriggerFor]="perfil" matTooltip="Mi Perfil" *ngIf="authServ.userToken">
        <mat-icon>manage_accounts</mat-icon>
      </button>
      <mat-menu #perfil="matMenu">
        <button mat-menu-item (click)="showProfile()">
          <mat-icon>person</mat-icon>
          Perfil
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          Cerrar Sesión
        </button>
      </mat-menu>
    </div>
  </header>

  <div class="main_logo">
    <ul class="nav_list animated fadeIn" [ngClass]="{'show': showMenu === true}">
      <li class="nav_item">
        <button class="nav_link" [ngClass]="{'active': SectionSelect === 'inicio'}" (click)="selectSection('inicio')">Inicio</button>
      </li>
      <li class="nav_item">
        <button class="nav_link" [ngClass]="{'active': SectionSelect === 'info'}" (click)="selectSection('info')">Pasos para obtener tu canje</button>
      </li>
      <li class="nav_item">
        <button class="nav_link" [ngClass]="{'active': SectionSelect === 'productos'}" (click)="selectSection('productos')">Productos canjeables</button>
      </li>
      <li class="nav_item" *ngIf="!authServ.userToken">
        <button class="nav_link" [ngClass]="{'active': SectionSelect === 'registro'}" (click)="selectSection('registro')">Registrarme en el Programa</button>
      </li>
      <li class="nav_item" *ngIf="authServ.userToken">
        <button class="nav_link" [ngClass]="{'active': SectionSelect === 'canjes'}" (click)="selectSection('canjes')">Registro de Canjes</button>
      </li>
    </ul>
  </div>

  <app-init *ngIf="SectionSelect == 'inicio'" class="animated fadeIn" (sectionEvent)="selectSection($event)"></app-init>

  <app-beneficios *ngIf="SectionSelect == 'info'" class="animated fadeIn" (sectionEvent)="selectSection($event)"></app-beneficios>

  <app-prods *ngIf="SectionSelect == 'productos'" class="animated fadeIn" [color]="localTheme"></app-prods>

  <app-regis *ngIf="SectionSelect == 'registro' && !authServ.userToken" class="animated fadeIn" (sectionEvent)="selectSection($event)"></app-regis>

  <app-canje *ngIf="SectionSelect == 'canjes' && authServ.userToken" class="animated fadeIn"></app-canje>

  <footer>
    <p>&copy; 2022</p> &nbsp;
    <p>Powered by</p>
    <img src="assets/icons/logo-appland.png">
  </footer>
</main>

