@import '~swiper/scss';
@import '~swiper/scss/navigation';

main{
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  overflow-x: hidden;
  &.dark{
    background: #161d31;
    color: #fefefe;
  }
  &.light{
    background: #f8f8f8;
    color: #333;
  }
  header{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    .btnsHeader{
      display: flex;
      align-items: center;
      justify-content: center;
      &.logo{
        width: 100%;
      }
    }
    .btnMenu{
      display: none;
    }
    .nav_logo{
      width: 300px;
      margin-left: 8rem;
    }
  }
  .main_logo{
    width: 80%;
    padding: 0 1rem;
    margin: 0 auto;
    text-align: center;
    .nav_list{
      color: inherit;
      padding: 1rem 0;
      list-style: none;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 2.5rem;
      .nav_link{
        color: inherit;
        font-size: 1.2em;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        &.active{
          border-bottom: 2px solid #2f71ff;
        }
      }
      &.show{
        display: block;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .nav_item{
          text-align: start;
          .nav_link{
            color: #fefefe;
            font-weight: 600;
            &.active{
              border-left: 5px solid #fefefe;
              border-bottom: 0;
            }
          }
        }
      }
    }
  }

  .inicio{
    width: 100%;
    margin-top: 1.5rem;
    h1{
      font-size: 2rem;
      text-align: center;
      padding: 0;
    }
    .swiper{
      --swiper-navigation-color: #b9ccda;
      --swiper-navigation-size: 50px;

      width: 100%;
      height: 60%;
      &.dark{
        background: #161d31;
        color: #fefefe;
      }
      &.light{
        background: #f8f8f8;
        color: #333;
      }
      .swiper-slide{
        .sItem{
          width: 90%;
          height: 100%;
          margin: 1rem auto;
          display: flex;
          flex-direction: row;
          gap: 5px;
          align-items: center;
          justify-content: center;
          .textoSlide{
            padding: 0 5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: flex-start;
            justify-content: center;
            p, li{
              font-size: 1.2rem;
              line-height: 1.5;
              span{
                font-weight: 600;
                color: #2f71ff;
              }
            }
            .linkRegis{
              border: 1px solid #145483;
              border-radius: 10px;
              padding: .8rem 2rem;
              font-size: 1.2rem;
              cursor: pointer;
              transition: background .5s;
              &:hover{
                background: #145483;
                color: #fff;
              }
            }
          }
          img{
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }

  .masInfo{
    margin: 1rem auto;
    width: 90%;
    h1{
      font-size: 2rem;
      text-align: center;
    }
    .infoItem{
      width: 80%;
      margin: 2rem auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      .text{
        text-align: center;
        span{
          font-weight: 600;
          color: #ed6c05;
          font-size: 1.5rem;
          margin-bottom: 20px;
        }
        .badg{
          width: 80px;
          height: 80px;
          margin: 2rem auto;
          background: #145483;
          border: 3px solid darken($color: #b9ccda, $amount: 10);
          border-radius: 50%;
          color: #fff;
          font-size: 4rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      img{
        width: 450px;
      }
    }
    .linkRegis{
      padding: 4rem 0;
      width: 100%;
      text-align: center;
      span{
        border: 1px solid #145483;
        border-radius: 10px;
        padding: .8rem 2rem;
        margin: 2rem auto;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background .5s;
        &:hover{
          background: #145483;
          color: #fff;
          font-weight: 600;
        }
      }
    }
  }

  .productos{
    width: 90%;
    padding: 0 1rem;
    margin: 1.5rem auto;
    text-align: center;
    h1 {
      margin-top: 1.5rem;
      width: 100%;
      font-size: 2.2rem;
      text-align: center;
    }
    .mat-form-field {
      margin: 2rem 0;
      width: 40%;
    }
    .prod_content{
      margin-bottom: 3rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
      justify-content: center;
      mat-card{
        width: 300px;
        height: 300px;
        border-radius: 10px;
        img{
          width: 70%;
        }
        span{
          cursor: pointer;
          font-weight: 600;
          color: #2f71ff;
        }
      }
    }
  }

  .registro{
    width: 100%;
    margin: 2rem 0;
    h1 {
      margin: 1rem 0;
      width: 100%;
      font-size: 2rem;
      text-align: center;
    }
    p{
      text-align: center;
    }
    .regis_content{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .5rem;
      flex-wrap: wrap;
      img{
        width: 40%;
      }
      .regForm{
        text-align: center;
        margin: 1rem 0;
        padding: 1.5rem;
        width: 40%;
        .mat-form-field {
          width: 100%;
          .inputPass{
            border-bottom: 1px solid gray;
          }
          button {
            border: none;
          }
        }
        .mat-checkbox{
          width: 100%;
          text-align: start;
        }
        .btnReg{
          width: 60%;
        }
        p{
          margin-top: 1rem;
          text-align: center;
          span{
            cursor: pointer;
            color: #2f71ff;
            font-weight: 600;
          }
        }
      }
    }
  }

  .canjes{
    width: 90%;
    margin: 2rem auto;
    h1 {
      margin: 1rem 0;
      width: 100%;
      font-size: 2rem;
      text-align: center;
    }
    p{
      text-align: center;
    }
    .contentRegistroCanje{
      padding: 2rem 1rem;
      text-align: center;
      .demo_table {
        width: 800px;
        margin: 0 auto ;
        th{
          color: var(--dark-text);
          font-weight: 900;
        }
        td, th {
          width: auto;
          text-align: center;
        }
        .mat-table-sticky-border-elem-left{
          border-right: 1px solid currentColor;
        }
        .mat-row .mat-cell {
          border-bottom: 1px solid transparent;
          border-top: 1px solid transparent;
          cursor: pointer;
        }
        .mat-row:hover .mat-cell {
          border-color: currentColor;
        }
      }
    }
  }

  footer{
    width: 90%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    p{
      margin: 0 !important;
    }
    img{
      margin-left: 1rem;
      width: 130px;
    }
  }
}
@media (max-width: 560px){
  main{
    padding: 0;
    height: 100vh;
    header{
      width: 100%;
      height: 75px;
      padding: 0;
      margin: 0;
      justify-content: space-around;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
      .btnsHeader{
        width: auto;
        &.logo{
          width: auto;
        }
      }
      .btnMenu{
        display: block;
      }
      .nav_logo{
        width: 150px;
        margin-left: 0;
      }
    }
    .main_logo{
      .nav_list{
        background: #145583e1;
        display: none;
      }
    }
    .inicio{
      margin-top: 2rem;
      h1{
        font-size: 1.5rem;
        width: 90%;
        margin: 0 auto;
      }
      .swiper{
        height: 80%;
        .swiper-slide .sItem{
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &.reverse{
            flex-direction: column-reverse;
          }
          .textoSlide{
            padding: 0 1rem;
            width: 90%;
            align-items: center;
            justify-content: center;
            .linkRegis{
              font-size: 1rem;
            }
          }
          img{
            width: 100%;
            height: 200px;
          }
        }
      }
    }
    .masInfo{
      margin-top: 1.5rem;
      .infoItem{
        width: 100%;
        flex-direction: column;
        gap: .5rem;
        img{
          width: 90%;
          object-fit: contain;
        }
        &.item2{
          flex-direction: column-reverse;
        }
      }
    }
    .productos{
      margin-top: 1.5rem;
      .mat-form-field {
        width: 100%;
      }
    }
    .registro{
      margin-top: 1.5rem;
      h1, p{
        width: 90%;
        margin: 0 auto;
      }
      .regis_content img{
        width: 90%;
      }
      .regis_content .regForm{
        width: 80%;
      }
    }
    .canjes{
      height: 100%;
    }
  }
}
