main{
  width: 90%;
  padding-top: 6rem;
  margin: 0 auto;
  header{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 1rem;
    .mat-form-field {
      font-size: 14px;
      width: 50%;
      padding: 0;
    }
    button{
      margin: 1rem .5rem;
    }
  }
  table {
    width: 100%;
  }
  th{
    color: var(--dark-text);
    font-weight: 900;
  }
  td, th {
    width: auto;
    text-align: center;
  }
}
