<main mat-dialog-content>
  <img [src]="prodData.img">
  <div class="infoProd">
    <h1>{{prodData.nombreProd}}</h1>
    <ul>
      <li>
        <span>Principio activo: </span>
        {{prodData.principioAc}}
      </li>
      <li>
        <span>Categoría terapéutica: </span>
        {{prodData.categoria}}.
      </li>
      <li>
        <span>Indicaciones: </span>
        Se usa para el tratamiento sintomático de las alergias, rinitis alérgica, urticaria idiopática crónica y otras afecciones alérgicas dermatológicas, oculares.
      </li>
      <li>
        <span>Presentación: </span>
        Caja por 30 tabletas Recubiertas.
      </li>
      <li>
        <span>Dosis: </span>
        Consulte a su médico
      </li>
      <li>
        <span>Regla de Canje: </span>
        {{prodData.regla}}
      </li>
      <li>
        <span>Canje máximo anual: </span>
        {{prodData.maximoAnual}}
      </li>
    </ul>
  </div>
</main>
