<main mat-dialog-content>
  <img src="assets/default-thumbnail.jpg">
  <div class="infoProd">
    <h1>Nombre Producto</h1>
    <ul>
      <li>
        <span>Principio activo: </span>
        Loratadina 10 mg
      </li>
      <li>
        <span>Categoría terapéutica: </span>
        Antihistamínico.
      </li>
      <li>
        <span>Indicaciones: </span>
        Se usa para el tratamiento sintomático de las alergias, rinitis alérgica, urticaria idiopática crónica y otras afecciones alérgicas dermatológicas, oculares.
      </li>
      <li>
        <span>Presentación: </span>
        Caja de 10 tabletas.
      </li>
      <li>
        <span>Dosis: </span>
        Consulte a su médico
      </li>
    </ul>
  </div>
</main>
