main{
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .contentForm{
    padding: 1rem;
    width: 400px;
    .formHeader{
      text-align: center;
    }
    .formContent{
      mat-form-field{
        width: 100%;
      }
    }
  }
}
