<h2 mat-dialog-title>Cambio de Contraseña</h2>
<main mat-dialog-content>
  <div class="container-form">
    <form [formGroup]="changePassForm" class="d-flex-center">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input
          matInput
          placeholder="Contraseña actual"
          [type]="hideOldPassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideOldPassword = !hideOldPassword"
        >
          <mat-icon>{{
            hideOldPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="changePassForm.get('password')?.invalid && (changePassForm.get('password')?.dirty || changePassForm.get('password')?.touched) && changePassForm.get('password')?.errors?.['required']"
        >
          Campo requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="newPassword"
          placeholder="Contraseña"
          [NgPasswordValidator]="options"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="!changePassForm.get('newPassword')?.errors?.['required'] && (changePassForm.get('newPassword')?.errors?.['pattern'])"
        >
          Contraseña insegura
        </mat-error>
        <mat-error
          *ngIf="changePassForm.get('newPassword')?.invalid && (changePassForm.get('newPassword')?.dirty || changePassForm.get('newPassword')?.touched) && changePassForm.get('newPassword')?.errors?.['required']"
        >
          Contraseña requerida
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input
          matInput
          [type]="hidePasswordConfirmation ? 'password' : 'text'"
          formControlName="confirmPassword"
          placeholder="Confirmar"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePasswordConfirmation = !hidePasswordConfirmation"
        >
          <mat-icon>{{
            hidePasswordConfirmation ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error
          *ngIf="changePassForm.get('confirmPassword')?.invalid && (changePassForm.get('confirmPassword')?.dirty || changePassForm.get('confirmPassword')?.touched) && changePassForm.get('confirmPassword')?.errors?.['required']"
        >
          Nueva Contraseña requerida
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="changePassForm.invalid"
        (click)="chagePass(changePassForm.value)"
      >
        Cambiar contraseña
        <mat-icon class="lod" *ngIf="dataServ.progress">cached</mat-icon>
      </button>
      <button
        mat-raised-button
        color="warn"
        style="margin-top: 5px"
        (click)="cancel()"
      >
        Cancelar
      </button>
    </form>
  </div>
</main>
