<div class="admin-content">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav-body mat-elevation-z8" mode="side" opened
       [fixedTopGap]="56" [fixedBottomGap]="1">
      <header>
        <img src="assets/luveck_logo.png">
      </header>

      <mat-nav-list class="side-navnar">
        <ng-container *ngFor="let menu of menuList | async; index as i;">
          <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
            [ngTemplateOutletContext]="{menu:menu}">
          </ng-container>
        </ng-container>
      </mat-nav-list>

      <ng-template #parentMenu let-menu="menu">
        <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:true}">
          <mat-icon>{{menu.icon}}</mat-icon> {{menu.text}}
        </mat-list-item>
      </ng-template>

      <mat-accordion>
        <ng-template #childMenu let-menu="menu">
          <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
              <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text}}
            </mat-expansion-panel-header>
            <mat-nav-list>
              <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children"
                routerLinkActive="is-active" [routerLinkActiveOptions]="{exact:
                    true}">
                <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text}}
              </mat-list-item>
            </mat-nav-list>
          </mat-expansion-panel>
        </ng-template>
      </mat-accordion>
    </mat-sidenav>

    <mat-sidenav-content [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
      <mat-toolbar>
        Luveck - Pasión por vivir
        <span class="example-spacer"></span>

        <button mat-button [matMenuTriggerFor]="menu">
          <div class="nameDate">
            <div class="nam">
              <span>{{authServ.userData.name}} {{authServ.userData.lastName}}</span>
              <span>{{authServ.userData.role}}</span>
            </div>
            <img appNotImage [src]="img">
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <div class="togleTheme">
            🌞<mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>🌙
          </div>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>manage_accounts</mat-icon>
            <span>Cuenta</span>
          </button>
          <button mat-menu-item (click)="onLogout()">
            <mat-icon>logout</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <router-outlet #outlet="outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
