.admin-content {
  .sidenav-container {
    height: 100vh;
    .sidenav-body {
      ::ng-deep .mat-expansion-panel-header {
        padding: 0 16px !important;
      }

      ::ng-deep .mat-nav-list .mat-icon {
        margin-right: 1rem !important;
      }
      ::ng-deep .mat-expansion-panel-body {
        padding: 0 !important
      }

      ::ng-deep .mat-expansion-panel-header {
        height: 48px !important;
      }

      ::ng-deep .mat-expansion-panel .mat-list-item {
        padding-left: 15px !important;
      }

      ::ng-deep .mat-list-base {
        padding-top: 0 !important;
      }

      ::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
        background: var(--primary-color);
        color: #eee;
      }

      box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 1px;
      width: 15.5rem;
      header{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: .5rem;
        margin: 1rem;
        border-bottom: 2px solid #958f96;
        img{
          width: 150px;
        }
      }
    }
  }

  mat-sidenav-content {
    mat-toolbar {
      z-index: 10;
      position: absolute;
      width: 90%;
      top: 1rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

      .example-spacer {
        flex: 1 1 auto;
      }

      .nameDate {
        display: flex;
        justify-content: center;
        align-items: center;

        .nam {
          display: flex;
          flex-direction: column;
          align-content: center;

          span {
            line-height: 15px;
          }
        }

        img {
          width: 100%;
          border-radius: 50%;
          border: 2px solid #fff;
          margin-left: .5rem;
          background: #fff;
        }
      }

    }
  }
}

.togleTheme{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
