<section class="masInfo">
  <h1>Beneficios del programa Pasión por Vivir</h1>
  <div class="infoItem">
    <div class="text">
      <div class="badg">1</div>
      <span>Reciba su receta</span>
      <p>Revisa nuestros productos disponibles para canje en base a su enfermedad base.</p>
    </div>
    <img src="assets/ppv_4.webp">
  </div>
  <div class="infoItem item2">
    <img src="assets/ppv_5.webp">
    <div class="text">
      <div class="badg">2</div>
      <span>Acude a tu farmacia de confianza</span>
      <p>Recibirás información de nuestro programa, como ser parte y los beneficios que obtendrás.</p>
    </div>
  </div>
  <div class="infoItem">
    <div class="text">
      <div class="badg">3</div>
      <span>Realiza tu registro</span>
      <p>En la farmacia de tu elección recibirás ayuda de los colaboradores quienes brindarán información de tu proceso de registro, términos y restricciones de tu compra.</p>
    </div>
    <img src="assets/ppv_6.webp">
  </div>
  <div class="infoItem item2">
    <img src="assets/ppv_7.webp">
    <div class="text">
      <div class="badg">4</div>
      <span>Recibe tu beneficio</span>
      <p>Al completar los requisitos obtendrás tu canje totalmente gratis, recuerda que en el año tendrás una cantidad máxima de tiempo para redimir tus canjes.</p>
    </div>
  </div>
  <div class="linkRegis" *ngIf="!authServ.userToken" (click)="selectSection('registro')">
    <span>
      Registrarme en el programa
    </span>
  </div>
  <div class="linkRegis" *ngIf="authServ.userToken" (click)="selectSection('canjes')">
    <span>
      Ver registro de mis canjes
    </span>
  </div>
</section>
