<main>
  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

  <header>
    <div>
      <button mat-raised-button color="primary" (click)="on()">
        <mat-icon>add</mat-icon>
        Agregar Especialidad
      </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="generateReport()">
        <mat-icon>task</mat-icon>
        Generar reporte
      </button>
    </div>

    <mat-form-field appearance="standard">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Buscar</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar por nombre" #input autocomplete="off">
    </mat-form-field>

  </header>

  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="catesCont">
    <mat-card class="cat mat-elevation-z8" *ngFor="let especial of specialtyList">
      <div class="cat_body">
        <p><span>Nombre: </span>{{especial.name}}</p>
        <p><span>Estado: </span><span class="chip" [ngClass]="{'inactive': especial.isActive == false, 'active': especial.isActive == true}">{{especial.isActive ?'Activa' : 'Inactiva'}}</span></p>
      </div>
      <div class="cat_actions">
        <button mat-stroked-button (click)="on(especial.id)">
          Ver detalles
          <mat-icon color="accent">arrow_forward</mat-icon>
        </button>

        <button mat-stroked-button (click)="chageState(especial)">
          Cambiar estado
          <mat-icon color="warn">published_with_changes</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</main>
