<main class="login-section">
  <div class="container-form">
    <div class="titles">
      <img src="assets/icons/luveck_logo.png" alt />
      <p>Cambiar Contraseña 🔒</p>
      <span
        >Bienvenido al panel administrativo del programa Pasión por vivir</span
      >
    </div>

    <form [formGroup]="changePassForm" class="d-flex-center">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input
          matInput
          [type]="hidePassword ?'password' :'text'"
          placeholder="Actual contraseña"
          formControlName="password"
        />
        <mat-error
          *ngIf="changePassForm.get('password')?.invalid && (changePassForm.get('password')?.dirty || changePassForm.get('password')?.touched) && changePassForm.get('password')?.errors?.['required']"
        >
          Campo requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ?'password' :'text'"
          formControlName="newPassword"
          placeholder="Contraseña"
          [NgPasswordValidator]="options"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>{{hidePassword ?'visibility_off' :'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="!changePassForm.get('newPassword')?.errors?.['required'] && (changePassForm.get('newPassword')?.errors?.['pattern'])"
        >
          Contraseña insegura
        </mat-error>
        <mat-error
          *ngIf="changePassForm.get('newPassword')?.invalid && (changePassForm.get('newPassword')?.dirty || changePassForm.get('newPassword')?.touched) && changePassForm.get('newPassword')?.errors?.['required']"
        >
          Contraseña requerida
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input
          matInput
          [type]="hidePassword ?'password' :'text'"
          formControlName="confirmPassword"
          placeholder="Confirmar"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
        >
          <mat-icon>{{hidePassword ?'visibility_off' :'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="changePassForm.get('confirmPassword')?.invalid && (changePassForm.get('confirmPassword')?.dirty || changePassForm.get('confirmPassword')?.touched) && changePassForm.get('confirmPassword')?.errors?.['required']"
        >
          Nueva Contraseña requerida
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [disabled]="changePassForm.invalid"
        (click)="chagePass(changePassForm.value)"
      >
        Establecer nueva contraseña
        <mat-icon class="lod" *ngIf="dataServ.progress">cached</mat-icon>
      </button>
    </form>
  </div>
</main>
