<main class="login-section">
  <div class="container-form">
    <div class="titles">
      <img src="assets/icons/luveck_logo.png">
      <p>Cambiar Contraseña 🔒</p>
      <span>Bienvenido al panel administrativo del programa Pasión por vivir</span>
    </div>

    <form [formGroup]="resetPassForm" class="d-flex-center">
      <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput placeholder="Correo" formControlName="email">
        <mat-error *ngIf="!resetPassForm.get('email')?.errors?.['required'] && (resetPassForm.get('email')?.errors?.['pattern'])">
          Correo invalido
        </mat-error>
        <mat-error
          *ngIf="resetPassForm.get('email')?.invalid && (resetPassForm.get('email')?.dirty || resetPassForm.get('email')?.touched) && resetPassForm.get('email')?.errors?.['required']">
          Correo requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña actual</mat-label>
        <input matInput placeholder="Código" formControlName="password">
        <mat-error
          *ngIf="resetPassForm.get('password')?.invalid && (resetPassForm.get('password')?.dirty || resetPassForm.get('password')?.touched) && resetPassForm.get('password')?.errors?.['required']">
          Campo requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input matInput [type]="hidePassword ?'password' :'text'" formControlName="newPassword" placeholder="Contraseña" [NgPasswordValidator]="options">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ?'visibility_off' :'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="!resetPassForm.get('newPassword')?.errors?.['required'] && (resetPassForm.get('newPassword')?.errors?.['pattern'])">
          Contraseña insegura
        </mat-error>
        <mat-error
          *ngIf="resetPassForm.get('newPassword')?.invalid && (resetPassForm.get('newPassword')?.dirty || resetPassForm.get('newPassword')?.touched) && resetPassForm.get('newPassword')?.errors?.['required']">
          Contraseña requerida
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirmar contraseña</mat-label>
        <input matInput [type]="hidePassword ?'password' :'text'" formControlName="confirmPassword" placeholder="Confirmar">
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
          <mat-icon>{{hidePassword ?'visibility_off' :'visibility'}}</mat-icon>
        </button>
        <mat-error
          *ngIf="resetPassForm.get('confirmPassword')?.invalid && (resetPassForm.get('confirmPassword')?.dirty || resetPassForm.get('confirmPassword')?.touched) && resetPassForm.get('confirmPassword')?.errors?.['required']">
          Nueva Contraseña requerida
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="resetPassForm.invalid"
        (click)="resetPass(resetPassForm.value)">
        Establecer nueva contraseña
        <mat-icon class="lod" *ngIf="dataServ.progress">cached</mat-icon>
      </button>
    </form>
  </div>
</main>
