main{
  width: 94%;
  margin: 0 auto;
  padding-top: 6rem;
  .btn{
    width: 100%;
  }
  .catesCont{
    width: 90%;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    .cat{
      width: 300px;
      padding: 10px;
      .cat_header{
        border-bottom: 1px solid gray;
        padding: 0.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        span{
          font-size: 1.2em;
          font-weight: 600;
        }
        span.chip{
          cursor: pointer;
        }
      }
      .cat_body{
        padding: 1rem;
        text-align: center;
        span{
          font-weight: 600;
        }
      }
      .cat_actions{
        text-align: end;
      }
    }
  }
}
