main{
  width: 90%;
  margin: 0 auto;
  padding-top: 6rem;
  header{
    margin: 0 auto;
  }
  .catesCont{
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    .cat{
      padding: 10px;
      .cat_body{
        padding: 1rem;
        font-size: 1rem;
        span{
          font-weight: 600;
        }
      }
      .cat_actions{
        border-top: 1px solid gray;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: .5rem 0;
        button{
          margin: 0 0.3rem;
        }
      }
    }
  }
}
