<main>
  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

  <header>
    <div>
      <button mat-raised-button color="primary" (click)="on()">
        <mat-icon>add</mat-icon>
        Agregar Regla
      </button>
      &nbsp;
      <button mat-raised-button color="primary" (click)="generateReport()">
        <mat-icon>task</mat-icon>
        Generar reporte
      </button>
    </div>
  </header>

  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="catesCont">
    <mat-card class="cat mat-elevation-z8" *ngFor="let rule of rulesServ.reglas">
      <div class="cat_body">
        <p><span>Producto: </span>{{rule.productName}}</p>
        <p><span>Cantidad a comprar: </span>{{rule.quantityBuy}}</p>
        <p><span>Cantidad a entregar: </span>{{rule.quantityGive}}</p>
        <p><span>Estado: </span><span class="chip" [ngClass]="{'inactive': rule.state == false, 'active': rule.state == true}">{{rule.state ?'Activo' :'Inactivo'}}</span></p>
      </div>
      <div class="cat_actions">
        <button mat-stroked-button (click)="on(rule.id)">
          Ver detalles
          <mat-icon color="accent">arrow_forward</mat-icon>
        </button>

        <button mat-stroked-button (click)="chageState(rule)">
          Cambiar estado
          <mat-icon color="warn">published_with_changes</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
</main>
