main{
  width: 90%;
  margin: 0 auto;
  padding-top: 6rem;
  .btn{
    width: 100%;
    text-align: center;
  }
  .mainBody{
    width: 80%;
    margin: 0 auto;
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    mat-card{
      margin: 0.5rem;
      width: 350px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      mat-icon{
        color: #14ce63;
        font-size: 5rem;
        overflow: visible;
      }
      .texto{
        width: 100%;
        text-align: center;
        span{
          font-size: 2rem;
        }
      }
    }
  }
}
