<main>
  <div class="btn">
    <h1>Panel de Administración</h1>
  </div>
  <div class="mainBody">
    <mat-card class="mat-elevation-z8">
      <div class="texto">
        <span>{{counterPaises}}</span>
        <h1>Paises Registrados</h1>
        <span class="more">
          Ver detalles
          <!-- <mat-icon>read_more</mat-icon> -->
        </span>
      </div>
      <mat-icon class="icoGrande">flag</mat-icon>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <div class="texto">
        <span>{{counterDepartamentos}}</span>
        <h1>Departamentos Registrados</h1>
        <span class="more">
          Ver detalles
          <!-- <mat-icon>read_more</mat-icon> -->
        </span>
      </div>
      <mat-icon class="icoGrande">signpost</mat-icon>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <div class="texto">
        <span>{{counterCiudades}}</span>
        <h1>Ciudades Registradas</h1>
        <span class="more">
          Ver detalles
          <!-- <mat-icon>read_more</mat-icon> -->
        </span>
      </div>
      <mat-icon class="icoGrande">apartment</mat-icon>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <div class="texto">
        <span>{{counterFarmacias}}</span>
        <h1>Farmacias registradas</h1>
        <span class="more">
          Ver detalles
          <!-- <mat-icon>read_more</mat-icon> -->
        </span>
      </div>
      <mat-icon class="icoGrande">store</mat-icon>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <div class="texto">
        <span>{{counterMedicos}}</span>
        <h1>Medicos registrados</h1>
        <span class="more">
          Ver detalles
          <!-- <mat-icon>read_more</mat-icon> -->
        </span>
      </div>
      <mat-icon class="icoGrande">medical_information</mat-icon>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <div class="texto">
        <span>4</span>
        <h1>Clientes registrados</h1>
        <span class="more">
          Ver detalles
          <!-- <mat-icon>read_more</mat-icon> -->
        </span>
      </div>
      <mat-icon class="icoGrande">group</mat-icon>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <div class="texto">
        <span>{{counterCategorias}}</span>
        <h1>Categorias registradas</h1>
        <span class="more">
          Ver detalles
          <!-- <mat-icon>read_more</mat-icon> -->
        </span>
      </div>
      <mat-icon class="icoGrande">bookmarks</mat-icon>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <div class="texto">
        <span>{{counterProductos}}</span>
        <h1>Productos registrados</h1>
        <span class="more">
          Ver detalles
          <!-- <mat-icon>read_more</mat-icon> -->
        </span>
      </div>
      <mat-icon class="icoGrande">shopping_basket</mat-icon>
    </mat-card>
  </div>
</main>
