<main>
  <div class="btn">
    <h1>Panel de Administración</h1>
  </div>
  <div class="mainBody">
    <mat-card class="mat-elevation-z8">
      <mat-icon>flag</mat-icon>
      <div class="texto">
        <span>{{counterPaises}}</span>
        <h1>Paises Registrados</h1>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <mat-icon>apartment</mat-icon>
      <div class="texto">
        <span>{{counterCiudades}}</span>
        <h1>Ciudades Registradas</h1>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <mat-icon>store</mat-icon>
      <div class="texto">
        <span>{{counterFarmacias}}</span>
        <h1>Farmacias registradas</h1>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <mat-icon>medical_information</mat-icon>
      <div class="texto">
        <span>{{counterMedicos}}</span>
        <h1>Medicos registrados</h1>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <mat-icon>group</mat-icon>
      <div class="texto">
        <span>100</span>
        <h1>Clientes registrados</h1>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <mat-icon>bookmarks</mat-icon>
      <div class="texto">
        <span>{{counterCategorias}}</span>
        <h1>Categorias registradas</h1>
      </div>
    </mat-card>

    <mat-card class="mat-elevation-z8">
      <mat-icon>shopping_basket</mat-icon>
      <div class="texto">
        <span>{{counterProductos}}</span>
        <h1>Productos registrados</h1>
      </div>
    </mat-card>
  </div>
</main>
