<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="fm_header" *ngIf="data.ciudadId">
    <section class="avatar">
      <div class="datos">
        <p>{{currentDepartamento?.name!}}</p>
        <div class="bots">

        </div>
      </div>
    </section>
    <section class="resumen">
      <ul>
        <li> <mat-icon class="example-tab-icon">note_add</mat-icon> Creado por: {{currentDepartamento?.createBy!}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de craación: {{currentDepartamento?.creationDate! |date: 'd/M/yy, h:mm a'}}</li>
        <li> <mat-icon class="example-tab-icon">edit_note</mat-icon> Modificado por: {{currentDepartamento?.updateBy!}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de modificación: {{currentDepartamento?.updateDate! |date: 'd/M/yy, h:mm a'}}</li>
      </ul>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="newDepartamentoForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>País</mat-label>
        <mat-select formControlName="country" (selectionChange)="selectPais($event)">
          <div *ngFor="let pais of paises; index as i">
            <mat-option *ngIf="pais.status" [value]="i">
              {{pais.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="newDepartamentoForm.invalid" (click)="addEditCiudad()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
