/* You can add global styles to this file, and also import other style files */
@import './myStyles.scss';

router-outlet~* {
  position: absolute;
  width: 100%;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-sidenav{
  top: 0 !important;
}

/* Scroll */
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #145483;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color: transparent;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

/* Loading data */
.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#145483, .4);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
