<main>
  <div class="contentForm mat-elevation-z8">
    <div class="formHeader">
      <div class="imgCont">
        <img src="assets/icons/luveck_logo.png">
      </div>
      <p>¿Ha olvidado su contraseña? 🔒</p>
      <span>Ingrese su correo electrónico y le enviaremos instrucciones para restablecer su contraseña.</span>
    </div>
    <div class="formContent">
      <form [formGroup]="forgotPassForm" novalidate class="d-flex-center">

        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput placeholder="Correo" formControlName="email">
          <mat-error *ngIf="!forgotPassForm.get('email')?.errors?.['required'] && (forgotPassForm.get('email')?.errors?.['pattern'])">
            Correo invalido
          </mat-error>
          <mat-error
            *ngIf="forgotPassForm.get('email')?.invalid && (forgotPassForm.get('email')?.dirty || forgotPassForm.get('email')?.touched) && forgotPassForm.get('email')?.errors?.['required']">
            Correo requerido
          </mat-error>
        </mat-form-field>

        <div class="btnForm">
          <button [disabled]="!forgotPassForm.valid" mat-raised-button color="primary" mat-button (click)="onForgot(forgotPassForm.value)">
            Enviar
            <mat-icon class="lod" *ngIf="dataServ.progress">cached</mat-icon>
          </button>
        </div>
      </form>

      <div class="sendMsg" *ngIf="resetEmailSendMsg.length > 1">
        <p>{{resetEmailSendMsg}}</p>
      </div>

      <p class="reg">
        <a routerLink="/authentication/login">
          <span>< Regresar</span>
        </a>
      </p>
    </div>
  </div>
</main>
