main{
  width: 100%;
  background-image: linear-gradient(to bottom, #145483, #d8eaf3);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .contentForm{
    background: #eee;
    padding: 1rem;
    border-radius: 10px;
    width: 360px;
    .formHeader{
      .imgCont{
        text-align: center;
        img{
          height: 80px;
          margin: 1rem auto;
        }
      }

    }
    .formContent{
      mat-form-field{
        width: 100%;
        margin: 1rem 0;
      }
      p.sec{
        display: flex;
        justify-content: space-between;
      }
      .btnForm{
        margin-bottom: 1rem;
        button{
          width: 100%;
        }
      }

      p.reg{
        text-align: center;
      }
    }
  }
}

a{
  color: #0a74c0;
}
