<main>
  <div class="contentForm mat-elevation-z8">
    <div class="formHeader">
      <div class="imgCont">
        <img src="assets/luveck_logo.png">
      </div>
      <p>¿Has olvidado tu contraseña? 🔒</p>
      <span>Ingrese su correo electrónico y le enviaremos instrucciones para restablecer su contraseña.</span>
    </div>
    <div class="formContent">
      <form [formGroup]="forgotPassForm" (ngSubmit)="onForgot()" novalidate class="d-flex-center">

        <mat-form-field appearance="outline">
          <input matInput placeholder="Email" formControlName="email" type="email">
          <mat-error *ngIf="!forgotPassForm.get('email')?.errors?.required && (forgotPassForm.get('email')?.errors?.pattern)">
            Por favor ingrese un correo valido
          </mat-error>
          <mat-error
            *ngIf="forgotPassForm.get('email')?.invalid && (forgotPassForm.get('email')?.dirty || forgotPassForm.get('email')?.touched) && forgotPassForm.get('email')?.errors?.required">
            Correo requerido
          </mat-error>
        </mat-form-field>

        <div class="btnForm">
          <button [disabled]="!forgotPassForm.valid" mat-raised-button color="primary" mat-button>Enviar</button>
        </div>
      </form>

      <p class="reg">
        <a routerLink="/authentication/login">
          <span>< Regresar</span>
        </a>
      </p>
    </div>
  </div>
</main>
