<main>
  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

  <form class="wrapForm" [formGroup]="newPaisForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Iso 3</mat-label>
        <input matInput placeholder="HND" formControlName="iso3">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Código de área</mat-label>
        <input matInput placeholder=" +504" formControlName="phoneCode">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Divisa</mat-label>
        <input matInput placeholder="HNL" formControlName="currency">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre divisa</mat-label>
        <input matInput placeholder="Lempira" formControlName="currencyName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Símbolo divisa</mat-label>
        <input matInput placeholder=" L" formControlName="currencySymbol">
      </mat-form-field>
    </div>

    <div class="btns">
      <button mat-raised-button color="primary" [disabled]="newPaisForm.invalid" (click)="addPais()">Guardar <mat-icon>save</mat-icon></button>
      <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
    </div>
  </form>
</main>
