<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="fm_header" *ngIf="data.paisId">
    <section class="avatar">
      <img src="https://flagcdn.com/{{currentPais?.iso3! | lowercase}}.svg" alt="">
      <div class="datos">
        <p>{{currentPais?.name!}}</p>
        <div class="bots">
          <span class="chip" [ngClass]="{'active': currentPais?.status! == true, 'inactive': currentPais?.status! == false}">{{currentPais?.status! ?'Activo' :'Inactivo'}}</span>
        </div>
      </div>
    </section>
    <section class="resumen">
      <ul>
        <li> <mat-icon class="example-tab-icon">note_add</mat-icon> Creado por: {{currentPais?.createBy!}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de craación: {{currentPais?.creationDate! |date: 'd/M/yy, h:mm a'}}</li>
        <li> <mat-icon class="example-tab-icon">edit_note</mat-icon> Modificado por: {{currentPais?.updateBy!}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de modificación: {{currentPais?.updateDate! |date: 'd/M/yy, h:mm a'}}</li>
      </ul>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="newPaisForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Nombre" formControlName="name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Código Iso</mat-label>
        <input matInput placeholder="HN" formControlName="iso3">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Código de área</mat-label>
        <input matInput placeholder=" +504" formControlName="phoneCode">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Divisa</mat-label>
        <input matInput placeholder="HNL" formControlName="currency">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Nombre divisa</mat-label>
        <input matInput placeholder="Lempira" formControlName="currencyName">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Símbolo divisa</mat-label>
        <input matInput placeholder=" L" formControlName="currencySymbol">
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="newPaisForm.invalid" (click)="addEditPais()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
