<h2 mat-dialog-title>{{data.title}}</h2>
<main mat-dialog-content>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <div class="fm_header" *ngIf="data.ventaId">
    <section class="avatar">
      <div class="datos">
        <p>{{currentVenta?.noPurchase}}</p>
        <div class="bots">
          <span class="chip" [ngClass]="{'active': currentVenta?.reviewed == true, 'inactive': currentVenta?.reviewed == false}">Estado: {{currentVenta?.reviewed ?'Verificado' :'Sin verificar'}}</span>
        </div>
      </div>
    </section>
    <section class="resumen">
      <ul>
        <li> <mat-icon class="example-tab-icon">note_add</mat-icon> Creado por: {{currentVenta?.createBy}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de craación: {{currentVenta?.creationDate |date: 'd/M/yy, h:mm a'}}</li>
        <li> <mat-icon class="example-tab-icon">edit_note</mat-icon> Modificado por: {{currentVenta?.updateBy}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de modificación: {{currentVenta?.updateDate |date: 'd/M/yy, h:mm a'}}</li>
      </ul>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="ventaForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Farmacia</mat-label>
        <mat-select formControlName="pharmacyId">
          <div *ngFor="let farma of farmacias">
            <mat-option *ngIf="!farma.isDeleted" [value]="farma.id">
              {{farma.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>No. de factura</mat-label>
        <input matInput placeholder="No. de factura" formControlName="noPurchase">
      </mat-form-field>
    </div>
  </form>
</main>
<div mat-dialog-actions>
  <div class="btns">
    <button mat-raised-button color="primary" [disabled]="ventaForm.invalid" (click)="save()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</div>
