main {
  width: 90%;
  padding-top: 6rem;
  margin: 0 auto;

  h1 {
    text-align: center;
    margin: 0;
  }

  .fm_header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    section.avatar {
      padding: .5rem;
      display: flex;
      align-items: center;

      .datos {
        margin: 0.5rem;
        text-align: center;

        p {
          font-size: 2rem;
        }

        .bots {
          padding-top: 1rem;
          text-align: center;
        }
      }
    }

    section.resumen {
      padding: 1rem;

      ul {
        border-left: 1px solid gray;
        list-style: none;
        padding-left: 1rem;

        li {
          .example-tab-icon {
            margin-right: 8px;
          }

          margin: 0.3rem 0;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .wrapForm {
    width: 100%;
    padding: 10px 0;

    &.ver2 {
      width: 70%;
      margin: 0 auto;

      h2 {
        text-align: center;
      }
    }

    .inputs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      &.ver2 {
        grid-template-columns: auto 1fr 1fr;

        button {
          margin: 1rem 0;
        }
      }

      mat-form-field {
        width: 90%;
        margin: auto;
        align-content: center;

        &.area {
          resize: none;
          grid-column: 1 / span 2;
        }
      }
    }
  }
}

.btns {
  padding-top: 2rem;
  text-align: center;

  button {
    margin: 0 0.5rem;
  }
}


.contentImgs {
  width: 80%;
  margin: 1rem auto;
  display: grid;

  mat-card.drop {
    height: 120px;
  }

  mat-card mat-card-header {
    justify-content: center;
  }

  mat-card mat-card-content {
    .drop-zone {
      border: dotted 3px lightgray;

      .custon-file {
        cursor: pointer;

        input[type='file'] {
          display: none;
        }

        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        mat-icon {
          color: #2190f0;
          font-size: 2rem;
          overflow: visible;
          text-align: center;
        }
      }
    }

    .file-over {
      border: solid 3px #22dc80;
    }
  }

  mat-card-actions {
    padding: 0;
    text-align: center;
  }
}

.invalid {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
}