<main>
  <h1>{{currentVentaId ?'Factura detalle' :'Nueva factura'}}</h1>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>

  <app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>

  <div class="fm_header" *ngIf="currentVentaId">
    <section class="avatar">
      <div class="datos">
        <p>{{currentVenta?.noPurchase}}</p>
        <div class="bots">
          <span class="chip" [ngClass]="{'active': currentVenta?.reviewed == true, 'inactive': currentVenta?.reviewed == false}">Estado: {{currentVenta?.reviewed ?'Verificado' :'Sin verificar'}}</span>
        </div>
      </div>
    </section>
    <section class="resumen">
      <ul>
        <li> <mat-icon class="example-tab-icon">note_add</mat-icon> Creado por: {{currentVenta?.createBy}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de creación: {{currentVenta?.creationDate |date: 'd/M/yy'}}</li>
        <li> <mat-icon class="example-tab-icon">edit_note</mat-icon> Modificado por: {{currentVenta?.updateBy}}</li>
        <li> <mat-icon class="example-tab-icon">calendar_month</mat-icon> Fecha de modificación: {{currentVenta?.updateDate |date: 'd/M/yy'}}</li>
      </ul>
    </section>
  </div>

  <form class="wrapForm" [formGroup]="ventaForm" autocomplete="off">
    <div class="inputs">
      <mat-form-field appearance="fill">
        <mat-label>Farmacia</mat-label>
        <mat-select formControlName="pharmacyId">
          <div *ngFor="let farma of farmacias">
            <mat-option *ngIf="!farma.isActive" [value]="farma.id">
              {{farma.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>No. de factura</mat-label>
        <input matInput placeholder="No. de factura" formControlName="noPurchase">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select [formControl]="userCtrl" #singleSelect>
          <mat-option>
            <ngx-mat-select-search [formControl]="userFilterCtrl" placeholderLabel="Buscar por DNI" noEntriesFoundLabel="'Registro no encontrado.'"></ngx-mat-select-search>
          </mat-option>

          <div *ngFor="let user of filteredUsers | async">
            <mat-option *ngIf="user.state" [value]="user.id">
              {{user.userName}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
  </form>

  <mat-divider *ngIf="currentVentaId"></mat-divider>

  <section class="wrapForm ver2" *ngIf="currentVentaId">
    <h2>Productos</h2>
    <div class="inputs ver2" *ngFor="let p of productsOnCurrentVenta ; index as i">
      <button mat-icon-button color="warn" (click)="eliminarProd(i)" matTooltip="Eliminar producto">
        <mat-icon>close</mat-icon>
      </button>
      <mat-form-field appearance="fill">
        <mat-label>Producto</mat-label>
        <mat-select [(ngModel)]="productsOnCurrentVenta[i].productId">
          <div *ngFor="let prod of productos">
            <mat-option *ngIf="prod.state" [value]="prod.id">
              {{prod.name}}
            </mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Cantidad</mat-label>
        <input matInput type="number" placeholder="Cantidad comprada" [(ngModel)]="productsOnCurrentVenta[i].quantityShiped">
      </mat-form-field>
    </div>

    <button mat-raised-button color="accent" (click)="addProd()">Agregar producto <mat-icon>add</mat-icon></button>
  </section>

  <mat-divider></mat-divider>

  <div class="btns">
    <button mat-raised-button color="primary" *ngIf="!currentVentaId" [disabled]="ventaForm.invalid" (click)="save()">Generar factura <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="primary" *ngIf="currentVentaId" [disabled]="ventaForm.invalid" (click)="saveProds()">Guardar <mat-icon>save</mat-icon></button>
    <button mat-raised-button color="warn" (click)="resetForm()">Limpiar datos</button>
  </div>
</main>


